# SERVER CRONTAB
# NOTE: Do not store environment variables in this file!
# They will be sent via email if a cron job fails which could expose sensitive creds
# Instead, place them in `~/.env-crontab` and source that file on
# cron jobs that require environment variables


# GLOBAL SETUP
PATH=/opt/homebrew/bin:/opt/homebrew/sbin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
MAILTO=justinpaulhammond@gmail.com


# Alchemist
10 2 * * * alchemist --update > /dev/null
30 2 * * * alchemist --backup > /dev/null
45 2 * * * cp "$HOME/alchemist/backup/Brewfile" "$HOME/.dotfiles/src/server/Brewfile" > /dev/null

# Database Backups
# TODO: Look into `--defaults-extra-file` for mysql conf file (passwords)
# TODO: Encrypt backup files instead of saving them as plain text
# TODO: Clean up database backups after 30-60 days
# TODO: Add other services once we setup database replication
0 3 * * * . "$HOME"/.env-crontab; srvinfra export_database laraview-laraview-db-replica-1 "$LARAVIEW_DB_ROOT_PASSWORD" "$HOME"/sqldumps/laraview/"$(date +%F_%H-%M-%S)".sql > /dev/null

# Healthchecks
*/5 * * * * cd ~/git/personal/harvey/projects/justintime50/os-scripting && ./src/macos/healthchecks/docker-healthcheck.sh > /dev/null
*/5 * * * * cd ~/git/personal/harvey/projects/justintime50/os-scripting && ./src/macos/healthchecks/harvey-healthcheck.sh > /dev/null

# Forks Sync
0 2 * * * . "$HOME"/.env-crontab; . "$HOME"/.keychain/${HOSTNAME}-sh; forks-sync --token "$GITHUB_TOKEN" --force > /dev/null

# GitHub Archive
0 1 * * * . "$HOME"/.env-crontab; . "$HOME"/.keychain/${HOSTNAME}-sh; github-archive --users justintime50 --orgs tuneuptechnology --gists justintime50 --clone --pull --forks --token "$GITHUB_TOKEN" > /dev/null

# Pullbug
0 9 * * 1 . "$HOME"/.env-crontab; pullbug --pulls --issues --drafts --github_token "$GITHUB_TOKEN" --github_context users --github_owner Justintime50 --slack --slack_token "$PULLBUG_SLACK_BOT_TOKEN" --slack_channel "$PULLBUG_SLACK_CHANNEL" > /dev/null

# Unifi Config Backups
0 4 * * 0 . "$HOME"/.keychain/${HOSTNAME}-sh; "$HOME"/git/personal/harvey/projects/justintime50/os-scripting/src/ubios/backups/download_config_backups.sh /Volumes/D1-HD2-Nextcloud/nextcloud-data/justinhammond/files/Unifi/backups > /dev/null
