[submodule "dots"]
	path = dots
	url = https://github.com/justintime50/dots
[submodule "src/personal/iterm2/github-vscode-theme-iterm"]
	path = src/personal/iterm2/github-vscode-theme-iterm
	url = https://github.com/cdalvaro/github-vscode-theme-iterm
