[core]
	editor = vim
[user]
	name = Justintime50
	email = justinpaulhammond@gmail.com
[includeIf "gitdir:~/git/easypost/"]
  	path = ~/.gitconfig-easypost
[pull]
	rebase = true
[submodule]
	recurse = true
