[core]
	editor = emacs
[user]
	name = Justintime50
	email = 39606064+Justintime50@users.noreply.github.com
# [includeIf "gitdir:~/git/easypost/"]
#   	path = ~/.gitconfig-easypost
[pull]
	rebase = true
[submodule]
	recurse = true
[init]
	defaultBranch = main
